@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* app/globals.css */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir.eot');
  src: url('/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Vazir.woff2') format('woff2'),
       url('/fonts/Vazir.woff') format('woff'),
       url('/fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kalameh';
  src: url('/fonts/KalamehWeb-Regular.woff') format('woff');
  /* Add other formats (woff2, ttf) if you have them */
  font-weight: normal; /* Assuming this is the regular weight */
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Kalameh', 'Vazir', 'Tahoma', sans-serif;
}

input, textarea, button {
  font-family: 'Kalameh', 'Vazir', 'Tahoma', sans-serif;
}